<nav class="side-nav pt-4 pb-2 ">
    <div class="side-nav__header w-100 d-flex flex-column justify-content-evenly align-items-center gap-3">
        <img class="logo" src="../../../../assets/icons/SPEEDYY Logo.png" alt="Speedy" />
        <p class="cursor-enabled d-flex justify-content-center align-items-center m-0"> 
            <!-- <img src="../../../../assets/icons/food-service-icon.svg" alt="Food" width="35" height="50">&nbsp;{{service}} -->
            <p class="cursor-enable d-flex justify-content-center align-items-center m-0" [matMenuTriggerFor]="menu">{{serviceDisplayName[service]}}
            <mat-icon>arrow_drop_down</mat-icon>
        </p>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of serviceDisplayName | keyvalue: originalOrder">
                <div class="cursor-enable mb-2" (click)="serviceSelectionChange(item.key)" >{{item.value}}</div>
            </ng-container >
        </mat-menu>
    </div>
    <div class="nav-links mt-5">
        <ul>
            <ng-container *ngFor="let link of navLinks">
                <li class="d-flex flex-column justify-contnent-center" *ngIf="link.allowedRouteAccessTo.includes(service)">
                    <a [routerLink]="[link.route]" routerLinkActive="nav-link-active" *ngIf="link.route">
                        <mat-icon class="me-2">{{link.icon}}</mat-icon>{{link.name}}
                    </a>
                    <a class="d-flex align-items-center" (click)="toggleSubMenu(link.name)" *ngIf="!link.route">
                        <!-- <mat-icon class="me-2">{{link.icon}}</mat-icon> -->
                        <img class="me-3    " [src]="link.icon" alt="hello" width="35" height="40">
                        <span class="w-100"><strong>{{link.name}}</strong></span>
                        <mat-icon class="expand-button" [ngClass]="{'rotated' : showSubMenu[link.name]}">expand_more</mat-icon>
                    </a>
                    <div class="submenu d-flex flex-column" *ngIf="link.subMenu && showSubMenu[link.name]">
                        <ng-container *ngFor="let sub of link.subMenu">
                            <a [routerLink]="[sub.route]" routerLinkActive="nav-link-active" *ngIf="sub.allowedRouteAccessTo.includes(service)">{{sub.name}}</a>
                        </ng-container>
                    </div>
                </li>
            </ng-container>
            <!-- User Profile -->
            <li class="d-flex flex-column justify-contnent-center">
                <a class="d-flex align-items-center" (click)="showUserProfile = !showUserProfile">
                    <img  class="me-4" src="../../../../assets/icons/user-profile-icon.svg" alt="" width="30" height="35">
                    <span class="w-100"><b>user profile</b></span>
                    <mat-icon class="expand-button" [ngClass]="{'rotated' : showUserProfile}">expand_more</mat-icon>
                </a>
                <div class="submenu" *ngIf="showUserProfile">
                    <label>{{userName}}
                        <p class="m-0">
                            (
                            <ng-container *ngFor="let role of roles; let i = index">
                                <span>{{role}}</span>
                                <span *ngIf="roles.length !== i+1"> | </span>
                            </ng-container>
                            )
                        </p> 
                    </label>
                    <a class="d-flex" (click)="logout()">
                        <mat-icon class="nav-icon">logout</mat-icon>
                        <span class="w-100">Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>